main {
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.card-media {
  background-color: #999999;
}

a {
  text-decoration: none;
}

.md-subheader {
  background: none;
}

.comment.md-3-line {
  justify-content: flex-start;
  min-height: 70px;
}

.comment.md-3-line .md-list-item-text {
  margin: initial;
}

.comment.md-3-line .md-avatar {
  margin-top: 0px;
}
